@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
}

:root {
  --primary-color: #cf4277;
  --primary-color-light: #ec4c8a;
}

body {
  font-family: 'Roboto', sans-serif;
}

footer {
  background-color: #9b2552;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

footer a {
  color: #fff;
}
